<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script defer src="{{url_for('static', filename='script.js')}}"></script>
    <title>Kipo AI</title>
  </head>
  <body>
    <div class="topnav">
      <a href="{{ url_for('substitute') }}">Find Substitute</a>
      <a  href="{{ url_for('comparison') }}">Compare Parts</a>
    </div>
    <h1>Compare Parts</h1>
      <div class="scroll-table-container">
        <table class="scroll-table">
          <thead>
            <tr>
              {% for column in parts.columns %}
              <th>{{ column }}</th>
              {% endfor %}
            </tr>
          </thead>
          <tbody>
            {% for index, row in parts.iterrows() %}
            <tr>
              {% for column in parts.columns %}
              <td>{{ row[column] }}</td>
              {% endfor %}
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>    
</body>    
</html>