<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script defer src="{{url_for('static', filename='script.js')}}"></script>
    <title>Kipo AI</title>
  </head>
  <body>
    <div class="topnav">
        <a class="active" href="{{ url_for('substitute') }}">Find Substitute</a>
        <a  href="{{ url_for('comparison') }}">Compare Parts</a>
    </div>
    <h1>Find Substitute</h1>
    <form method="POST" action="/substitute/" enctype="multipart/form-data">
      <div class="search-bar">
        <label for="search-bar">What kind of part do you need?</label>
        <input type="search" name="query" id="query" placeholder="Search...">
      </div>
    <button id="substitute" class="btn btn-primary">Find Substitute</button>
  </form>
  </body>
{% if data %}
    <table class="center">
      <thead>
            <tr>
                <th>MPN</th>
                <th>Description</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for item in data %}
                <tr>
                    <td class='mpn'>{{ item['mpn'] }}</td>
                    <td>{{ item['description'] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}

</html>
